@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --brand-red: #ea1e24;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-brand-red: var(--brand-red);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}